* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: grey;
}

  .container_cards{
    display: flex;
    justify-content: center;
}

  .container_form {
  display: flex;
  justify-content: center;
}
  
















